<template>
  <div class="tasksWrapper">
    <h5>List of Tasks</h5>
    <table  class="table">
       <thead>
        <th>Done</th>
        <th>Task</th>
         <th>Remove?</th>
      </thead>
      <tbody>
        <tr v-for="(t,index) in tasks" :key="index">
          <td>
            <input type="checkbox"  :checked="t.done?'checked':''" @click="toggleDone(t.done,index)"/>
          </td>
          <td class="taskName"  :class="t.done?'status-true':''">
            {{t.task}}
          </td>
          <td><button @click="deleteTask(t)" class="btn btn-warning">Delete Task</button></td>
        </tr>
      </tbody>
    </table>
    
  
  </div>
</template>

<script>
  export default {
    props: {
      tasks: {
        type: Array,
        default: () => []
      }
    },
    data() {
      return {
      }
    },
     methods:{
       deleteTask: function(task){
        this.$emit('clearInput',task);
      },
      toggleDone: function(toggle,index){
          this.tasks[index].done = !toggle;
          var tasks = JSON.parse(this.$cookie.get('tasks'));
          tasks[index].done = !toggle;
         this.$cookie.set('tasks',  JSON.stringify(tasks));
      }
    }
  }
</script>

<style scoped>
  .tasksWrapper{
    padding:20px;
    font-family: Arial;
    font-size:14px;
    color: #666;
}
input[type='checkbox']{
      width: 30px;
    height: 30px;
}
.status-true {
  text-decoration: line-through;
  color: grey;
}
table{
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding:0;
    background: #FFF;
    border: 1px solid;
    border-color: #DFDCDC #D9D6D6 #CCC;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
tr{
    position: relative;
    padding: 7px 15px;
    margin: 0;
    line-height: 21px;
    font-size: 12px;
    color: #8B8F97;
    list-style: none;
    border-bottom: 1px solid #E6EBED;
}
tr:last{
    border:0;
}

input{
    padding: 5px;
}

input[type='text']{
    color: #333;
}
.taskName{
   font-size: 18px;
}
</style>
