<template>
  <div id="app">
  
    <div class="form-group">
      <h1>2DoList</h1>
      <input type="text" class="form-control" ref="new_task"  maxlength="15" :v-model="new_task" id="new_task" placeholder="please type new Task">
      <button class="btn btn-info" @click="addNewTask()">Add</button>
      <task-wrapper :tasks="tasks" v-on:clearInput="clearInput($event)"></task-wrapper>
  <h5>Vue.js 2 - By Roni Chabra :-)</h5>
    </div>
  
  
  
    <router-link to=""></router-link>
    <router-view/>
  </div>
</template>

<script>
  import TaskWrapper from "./components/TaskWrapper.vue";
  export default {
    name: 'App',
    created: function () {
      if (!!this.$cookie.get('tasks')) {
       //have cookie
       this.tasks = JSON.parse(this.$cookie.get('tasks'));
      } else {
        //dosent have cookie
      }
    },
    data() {
      return {
        new_task: "",
        tasks: [{
            "done": false,
            "task": "buy milk"
          },
          {
            "done": true,
            "task": "call Roni"
          },
        ]
      }
    },
    components: {
      'task-wrapper': TaskWrapper
    },
    methods: {
      addNewTask: function() {
        this.new_task = this.$refs.new_task.value;
        this.tasks.push({
          "done": false,
          "task": this.new_task
        });
        
        this.$cookie.set('tasks',  JSON.stringify(this.tasks));
        this.$refs.new_task.value = '';
      },
      clearInput: function(task){
        var tasks = [];
         for (var i=0; i<this.tasks.length; i++){
           if(this.tasks[i].task !== task.task)
            tasks.push(this.tasks[i]);
         }
         this.tasks = tasks;
        this.$refs.new_task.value = '';
         this.$cookie.set('tasks',  JSON.stringify(this.tasks));
      }
    }
  }
</script>

<style>
  html,body {
    background-color: #383838 !important;
  }
  h1,h5{color:#fff  !important; text-align:center}
  #app {
    margin: 5% auto;
    width: 400px;
  }
  
  #new_task {
    width: 345px;
    float: left;
  }
</style>
